In [10]:
import pandas as pd
df=pd.read_csv("gapminder-FiveYearData.csv")

In [11]:
# head()    It will display first 5 values
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [12]:
print(df.tail())

       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [5]:
#To know total number of rows and columns in 
print(df.shape)

(8, 4)

In [13]:
print("Total number of rows : ", df.shape[0])
print("Total number of columns : ", df.shape[1])

Total number of rows :  1704
Total number of columns :  6

In [15]:
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [17]:
print(df)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [21]:
print(df.head())
print(df.tail())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106
       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

# Subsetting of the data

In [26]:
subset1=df[['country','pop','continent','gdpPercap']]

In [27]:
print(subset1.head())

       country         pop continent   gdpPercap
0  Afghanistan   8425333.0      Asia  779.445314
1  Afghanistan   9240934.0      Asia  820.853030
2  Afghanistan  10267083.0      Asia  853.100710
3  Afghanistan  11537966.0      Asia  836.197138
4  Afghanistan  13079460.0      Asia  739.981106

In [35]:
a=list(range(4))

In [36]:
print(a)

[0, 1, 2, 3]

In [38]:
#Use of loc to access the data Print 1st record
print(df.loc[0])

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

In [39]:
#print 100th record
print(df.loc[99])

country       Bangladesh
year                1967
pop          6.28219e+07
continent           Asia
lifeExp           43.453
gdpPercap        721.186
Name: 99, dtype: object

In [40]:
print(df.loc[89:99])

       country  year         pop continent  lifeExp     gdpPercap
89     Bahrain  1977    297410.0      Asia   65.593  19340.101960
90     Bahrain  1982    377967.0      Asia   69.052  19211.147310
91     Bahrain  1987    454612.0      Asia   70.750  18524.024060
92     Bahrain  1992    529491.0      Asia   72.601  19035.579170
93     Bahrain  1997    598561.0      Asia   73.925  20292.016790
94     Bahrain  2002    656397.0      Asia   74.795  23403.559270
95     Bahrain  2007    708573.0      Asia   75.635  29796.048340
96  Bangladesh  1952  46886859.0      Asia   37.484    684.244172
97  Bangladesh  1957  51365468.0      Asia   39.348    661.637458
98  Bangladesh  1962  56839289.0      Asia   41.216    686.341554
99  Bangladesh  1967  62821884.0      Asia   43.453    721.186086

In [43]:
print(df.loc[89:99])

       country  year         pop continent  lifeExp     gdpPercap
89     Bahrain  1977    297410.0      Asia   65.593  19340.101960
90     Bahrain  1982    377967.0      Asia   69.052  19211.147310
91     Bahrain  1987    454612.0      Asia   70.750  18524.024060
92     Bahrain  1992    529491.0      Asia   72.601  19035.579170
93     Bahrain  1997    598561.0      Asia   73.925  20292.016790
94     Bahrain  2002    656397.0      Asia   74.795  23403.559270
95     Bahrain  2007    708573.0      Asia   75.635  29796.048340
96  Bangladesh  1952  46886859.0      Asia   37.484    684.244172
97  Bangladesh  1957  51365468.0      Asia   39.348    661.637458
98  Bangladesh  1962  56839289.0      Asia   41.216    686.341554
99  Bangladesh  1967  62821884.0      Asia   43.453    721.186086

In [44]:
##With loc -1 is not supported, it will throw an error
print(df.loc[-1])

KeyError: -1

In [45]:
#Creating subset with record location
subset3=df.loc[0]

In [46]:
print(subset3)

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

In [51]:
subset_head=df.head(n=15)
print(subset_head)

        country  year         pop continent  lifeExp    gdpPercap
0   Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1   Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2   Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3   Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4   Afghanistan  1972  13079460.0      Asia   36.088   739.981106
5   Afghanistan  1977  14880372.0      Asia   38.438   786.113360
6   Afghanistan  1982  12881816.0      Asia   39.854   978.011439
7   Afghanistan  1987  13867957.0      Asia   40.822   852.395945
8   Afghanistan  1992  16317921.0      Asia   41.674   649.341395
9   Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10  Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11  Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12      Albania  1952   1282697.0    Europe   55.230  1601.056136
13      Albania  1957   1476505.0    Europe   59.280  1942.284244
14      Albania  1962   1728137.0    Europe   64.820  2312.888958

In [56]:
print(df.loc[13,'lifeExp'])

59.28

In [ ]:
#print  country name of 99th and 999th recordb

In [60]:
#Grouped and aggregated calculations using panda
print(df.head(n=20))

        country  year         pop continent  lifeExp    gdpPercap
0   Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1   Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2   Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3   Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4   Afghanistan  1972  13079460.0      Asia   36.088   739.981106
5   Afghanistan  1977  14880372.0      Asia   38.438   786.113360
6   Afghanistan  1982  12881816.0      Asia   39.854   978.011439
7   Afghanistan  1987  13867957.0      Asia   40.822   852.395945
8   Afghanistan  1992  16317921.0      Asia   41.674   649.341395
9   Afghanistan  1997  22227415.0      Asia   41.763   635.341351
10  Afghanistan  2002  25268405.0      Asia   42.129   726.734055
11  Afghanistan  2007  31889923.0      Asia   43.828   974.580338
12      Albania  1952   1282697.0    Europe   55.230  1601.056136
13      Albania  1957   1476505.0    Europe   59.280  1942.284244
14      Albania  1962   1728137.0    Europe   64.820  2312.888958
15      Albania  1967   1984060.0    Europe   66.220  2760.196931
16      Albania  1972   2263554.0    Europe   67.690  3313.422188
17      Albania  1977   2509048.0    Europe   68.930  3533.003910
18      Albania  1982   2780097.0    Europe   70.420  3630.880722
19      Albania  1987   3075321.0    Europe   72.000  3738.932735

In [61]:
#Grouped Mean
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [62]:
print(df.groupby('continent')['lifeExp'].mean())

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64